<div class="searchBar">
  <input type="text" placeholder="Buscar Pokémon" [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" />

  <button (click)="onSearch()">Buscar</button>
  <button *ngIf="searchTerm" (click)="clearSearch()">Clear</button>
</div>

<div class="loading" *ngIf="loading">Carregando Pokédex...</div>


<div class="pokemon-grid" *ngIf="!loading && pokemons.length > 0">
  <div class="pokemon-card" *ngFor="let pokemon of pokemons" (click)="goToDetails(pokemon)">
    <img [src]="pokemon.image" [alt]="pokemon.name" />
    <h3>{{ pokemon.name | titlecase }}</h3>
  </div>
</div>


<div *ngIf="!loading && pokemons.length === 0 && !searching">
  <p>No Pokémon found.</p>
  <button (click)="resetList()">Back to list</button>
</div>

<button *ngIf="!loadingMore && !loading && !empty" (click)="loadPokemons()">Load more</button>
<div class="loading" *ngIf="loadingMore">Carregando mais...</div>