/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 2px;
    background-color: #3b4cca;
    align-items: center;
}

.appTitle {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffde00;
}